.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

.u-section-1 .u-text-1 {
  z-index: 99999;
  margin: 111px 159px 0 539px;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 379px;
  margin: -471px auto 60px 124px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 59px;
    margin-left: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 278px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 98px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 602px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -642px;
    margin-right: auto;
    margin-left: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100px;
}