.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

.u-section-1 .u-text-1 {
  z-index: 99999;
  margin: 111px 159px 0 539px;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 379px;
  margin: -471px auto 60px 124px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 170px;
    margin-right: 47px;
    margin-left: 452px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -470px;
    margin-left: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-1 .u-text-1 {
    width: 442px;
    margin-top: 482px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -950px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 463px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -935px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 448px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1064px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100px;
}